In [4]:
#function
def add():
 a=10
 b=30
 print(a+b)

In [5]:
add()

40

In [7]:
def add(x,y):
 print(x+y)

In [9]:
add(20,10)

30

In [11]:
def simpleinterest():
 p=10
 r=20
 t=30
 n=100
 print(p*r*t/n)
simpleinterest()

60.0

In [18]:
def sumnatural():
     total=0
     for i in range(1,5):
      total +=i
     return total

print("sum of natural numbers from 1 to 50 is:")

sum of natural numbers from 1 to 50 is:

In [19]:
sumnatural()

10

In [21]:
def sum_n (a,b):
    sum=0
    for i in range (a,b):
      print(f"value of i is {i}")
      sum+=1
      print(f"value of sum is {sum}")
    print(sum)
sum_n(1,51)

value of i is 1
value of sum is 1
value of i is 2
value of sum is 2
value of i is 3
value of sum is 3
value of i is 4
value of sum is 4
value of i is 5
value of sum is 5
value of i is 6
value of sum is 6
value of i is 7
value of sum is 7
value of i is 8
value of sum is 8
value of i is 9
value of sum is 9
value of i is 10
value of sum is 10
value of i is 11
value of sum is 11
value of i is 12
value of sum is 12
value of i is 13
value of sum is 13
value of i is 14
value of sum is 14
value of i is 15
value of sum is 15
value of i is 16
value of sum is 16
value of i is 17
value of sum is 17
value of i is 18
value of sum is 18
value of i is 19
value of sum is 19
value of i is 20
value of sum is 20
value of i is 21
value of sum is 21
value of i is 22
value of sum is 22
value of i is 23
value of sum is 23
value of i is 24
value of sum is 24
value of i is 25
value of sum is 25
value of i is 26
value of sum is 26
value of i is 27
value of sum is 27
value of i is 28
value of sum is 28
value of i is 29
value of sum is 29
value of i is 30
value of sum is 30
value of i is 31
value of sum is 31
value of i is 32
value of sum is 32
value of i is 33
value of sum is 33
value of i is 34
value of sum is 34
value of i is 35
value of sum is 35
value of i is 36
value of sum is 36
value of i is 37
value of sum is 37
value of i is 38
value of sum is 38
value of i is 39
value of sum is 39
value of i is 40
value of sum is 40
value of i is 41
value of sum is 41
value of i is 42
value of sum is 42
value of i is 43
value of sum is 43
value of i is 44
value of sum is 44
value of i is 45
value of sum is 45
value of i is 46
value of sum is 46
value of i is 47
value of sum is 47
value of i is 48
value of sum is 48
value of i is 49
value of sum is 49
value of i is 50
value of sum is 50
50

In [24]:
def sum_n (a,b):
    sum=0
    for i in range (a,b):
      sum +=1
      print(sum)
sum_n(1,15)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [26]:
def sum5():
    total=0
    for i in range (1,51):
     if i% 2 !=0:
         total += i 
         print("sum of odd numbers from 1 to 50 is:")
         return total

sum5()

sum of odd numbers from 1 to 50 is:

1

In [1]:
def add_new(a=10 ,b=50):
    print(a+b)
add_new(10)

60

In [2]:
add_new()

60

In [3]:
add_new(20,5)

25

In [15]:
def add(a,b):
  c=a+b
  return c
a_1=add(10,20)

print(a_1)

In [16]:
add=lambda a,b:a+b

In [17]:
add(12,3)

15

In [18]:
def reverse_string(s):
    return s[::-1]
input_string = "nancy"
reversed_string = reverse_string(input_string)
print("Reversed string:",reversed_string)

Reversed string: ycnan

In [19]:
def square_number():
  i=int(input("enter a number:"))
  square=i*i
  print("square of",i,"is:",square)
square_number()

enter a number: 5

square of 5 is: 25

In [24]:
def even(number):
  return number%2==0
i=int(input("enter a number:"))
if even(i):
  print(f"{i} is even:")
else:
  print(f"{i} is odd:")

enter a number: 5

5 is odd:

In [26]:
def factories(n):
  if n==0 or n==1:
      return 1 
  else:
     return n* factorial(n-1)
i=int(input("enter a number to find its factorial:"))
if i<0:
    print("factorial is not defined for negative numbers:")
else:
    print("factorial of {i} is {factorial(i)}")

enter a number to find its factorial: 100

factorial of {i} is {factorial(i)}

In [27]:
def largest(numbers):
    if not numbers:
        return None 
    largest = numbers[0]
    for num in numbers[1:]:
        if num > largest:
            largest = num
    return largest

mylist = [10, 95, 9, 82, 1]
print("The largest number is:", largest(mylist))

The largest number is: 95

In [28]:
def fibonacci_series(n):
    fib_series = [ ]
    a, b = 0, 1
    for _ in range(n):
        fib_series.append(a)
        a, b = b, a + b
    return fib_series

terms = int(input("Enter number of terms: "))
if terms <= 0:
    print("Please enter a positive integer.")
else:
    series = fibonacci_series(terms)
    print("Fibonacci series:", series)

Enter number of terms:  10

Fibonacci series: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [29]:
def count_vowels(text):
    vowels = 'aeiou'
    count = 0
    for char in text:
        if char in vowels:
            count += 1
    return count

user_input = input("Enter a string: ")
vowel_count = count_vowels(user_input)
print("Number of vowels:", vowel_count)

Enter a string:  50

Number of vowels: 0

In [32]:
def palindrome(string):
    string = string.replace(" ", "").lower()
    
    return string == string[::-1]


text = input("Enter a string: ")
if palindrome(text):
    print("It's a palindrome!")
else:
    print("It's not a palindrome.")

Enter a string:  10

It's not a palindrome.

In [33]:
def total_sum(*args):
    result = 0
    for num in args:
        result += num
    return result
print("Sum is:", total_sum(5, 10, 15))

Sum is: 30

In [2]:
def check_even_odd(number):
    if number % 2 == 0:
        print(f"{number} is Even")
    else:
        print(f"{number} is Odd")