In [1]:
#type conversion
x=10
y=float(x)
print(type(y))

<class 'float'>

In [2]:
x=10
y=10.5
print(type(y))

<class 'float'>

In [12]:
product= input("enter product name:")
quality= int(input("enter quality:"))
price= float(input("enter price per item:"))
total= quality*price
print(product)
print(quality)
print(price)
print(total)

enter product name: banana
enter quality: 50
enter price per item: 15

banana
50
15.0
750.0

In [7]:
a=10
if a<20:
   print("hello")

hello

In [10]:
a=10
if a>15:
   print("hello")
else:
   print("bye")

bye

In [14]:
x=5
if x>2:
   print("yes")

yes

In [15]:
x=10
print(int(x)+5)

15

In [5]:
x=0
if x>0:
      print("true")
else:
    print("false")

false

In [19]:
age=45
if age>=18:
    print("eligible to vote")
else:
    print("not eligible")

eligible to vote

In [20]:
marks=50
if marks>=40:
    print("pass")
else:
    print("fail")

pass

In [11]:
a=int(input("enter a number"))
if (a%2==0):
    print("even")
else:
    print("odd")

enter a number 5

odd

In [13]:
x=6
if x:
    print("positive")
else:
    print("negative")

positive

In [28]:
 month = input("enter month")
if month in ['december','january','february']:
   print("its winter season")
elif month in ['march','april','may']:
   print("its summer season")
else:
   print("invalid")

enter month january

its winter season

In [2]:
x=10
if x>5:
  print('a')
elif x>3:
  print('b')
else:
  print('c')

a

In [3]:
x=4
y=2
if x>2:
    if y>3:
        print('yes')
    else:
        print('no')

no

In [11]:
age=50
if age<13:
    print('child')
elif age <18 :
    print('teen')
else :
    print('adult')

adult

In [14]:
num=4
if num >0:
   print("postive")
elif num <0:
   print("negative")
else:
   print("zero")

postive

In [5]:
vehicle=input("enter vehicle")
if vehicle in ['car','bus','truck']:
    print("it will expire in 15 years")
elif month in ['bike','ebike']:
    print("it will expire in 12 years")
else:
     print("invalid")

enter vehicle car

it will expire in 15 years

In [4]:
x = 10
y = 12
if x > y:
    print( "x>y")
elif x < y:
    print( "x<y")
    if x==10:
        print ("x=10")
    else:
        print ("invalid")
else:
    print ("x=y")

x<y
x=10